.footer {
  color: 	#595347;
  background-color:	#D0D0D0;
}
.contact-us {
  padding: 1.5rem 0 2rem 0;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact-us h4 {
  padding-bottom: 1.5rem;
  font-size: 1.6rem;
}

.social-media-links{
  display: flex;
  align-items: center;
  justify-content: center;
}

.social {
  width: 2.8rem;
  height: 2.8rem;
  margin-left: 3rem;
}
.s2{
  width: 3.2rem;
  height: 3.2rem;
}
.s3{
  height: 3.3rem;
  width: 3.3rem;
}
.social:hover {
  transform: scale(1.5);
  transition: 0.5s ease-in-out;
}

p {
  text-align: center;
  padding-bottom: 2rem;
  font-weight: 500;
}
